@font-face
{
    font-family:"Caviar dreams";
    src:url('../fonts/CaviarDreams.ttf');
}
#sidebar {
    position: fixed;
    right: 0;
}
.contain {
    width: 95%;
    margin: 0 auto;
}

.menu-flotant > div span {
    display: block;
}

h1, h2, h3, h4, h5 {
    font-family:"Caviar dreams";
}

body {
    font-family: "Roboto";
    font-size: 16px;
}

/*accueil*/
.titre-accueil {
    margin-bottom: 30px !important;
}
.style-seven {
    margin-top: 40px;
}
div.style-seven hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
div.style-seven hr:before { /* Not really supposed to work, but does */
    display: block; content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
#inscription-flotant {
    background-color: #cee8df;
    border-radius: 10px;
    padding: 40px 10px 10px;
    margin-bottom: 20px;
}
#prochain-salon {
    background-color: #70beb1;
    border-radius: 10px;
    padding: 10px 20px 20px;
}
#insc-flotant {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}


/*menu*/
nav {
    background-color: #25283C !important;
    color: #BDBCBA !important;
}
#logo {
     transform: translateX(-50%);
     left: 50%;
     position: absolute;
 }
#logo img {
    margin-top: 3px;
    max-width: 43px;
}

/*a la une*/
#alaune .bloc {
    margin-bottom: 20px;
}
#toast-container > div, .author-box, .btn, .btn-floating, .card, .card-cascade-2 .card-block, .card-cascade.wider .card-block, .card-wrapper .back, .card-wrapper .front, .chip, .dropdown-content, .dropdown-menu, .jumbotron, .list-group, .navbar, .pager li a, .pagination .active .page-link, .popover, .pricing-card .price .version, .side-nav, .social-list, .tag, .z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.view {
    cursor: default;
    overflow: hidden;
    position: relative;
}
.hm-zoom img {
    transition: all 0.2s linear 0s;
}
.view img, .view video {
    display: block;
    position: relative;
}
.card img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card img, .comments-list img, .img-fluid, .reply-form img, .section .view, .section img {
    display: block;
    height: auto;
    max-width: 100%;
}
.collection-card .stripe.dark {
    background-color: rgba(0, 0, 0, 0.7);
}
.collection-card .stripe {
    bottom: 3rem;
    padding: 1.2rem;
    position: absolute;
    width: 100%;
}
.cart-modal .table, .cart-modal th, .collection-card .stripe, .double-nav .nav-icons li, .min-chart, .modal-ext .modal-content .modal-header, .product-card .cta, .product-panel .modal-header, .ql-modal .modal-header {
    text-align: center;
}
.collection-card .stripe.dark a {
    cursor: pointer;
}
.collection-card .stripe.dark a p {
    color: #eee;
    font-size: 1.5rem;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
}
.hm-zoom:hover img {
    transform: scale(1.1);
}


/*profil*/
#profil #alaune {
    margin-top: 60px;
}
.add-new-image {
    position: absolute;
    bottom: 14rem;
    width: 100%;
    text-align: center;
}
.add-new-image span {
    color: #aaaaaa;
    font-size: 50px;
    transition: all 0.2s linear 0s;
}
.add-new-image span:hover {
    font-size: 70px;
}
#profil .modal-header, #profil .modal h4, #profil .modal .close {
    background-color: #70beb1;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
#profil .modal-footer {
    background-color: #f9f9f9;
}
#profil #prochain-salon button {
    /*color: #000000;*/
    background-color: #D99E7E;
}




/*lgin*/

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg
    opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}

.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}
.omb_login i.fa-envelope {
    font-size: 10px;
}


@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }
}


    /*footer*/
footer {
    background-color: #25283C;
    color: #BDBCBA;
    padding: 0 0 10px;
}